* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial;
}
.class1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgb(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}
.class3 {
    font-size: 25px;
    font-weight: bold;
}
.class5 {
    position: relative;
    background: url(https://www.mammut.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Fl595fda2nfqd%2F24OKDeXJBAIwxP4QR9Wst2%2Fcb12f0aec90153929e02bb8d7fd328c0%2FFast_Hiking_SS25_Slovenia_4502.jpg&w=1536&q=85);
    height: 700px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.class6 {
    background: rgba(0, 0, 0,0.6);
    color: white;
    padding: 20px;
    border-radius: 5px;
}
button {
    padding: 10px 15px;
    margin-right: 10px;
    border: 1px solid white;
    background: transparent;
    color: white;
}